@media (prefers-reduced-motion: no-preference) {
  .about-img {
    animation: fade-in 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }


  @keyframes fade-in {
    from {
      scale: 0.8;
      opacity: 0;
    }

    to {
      scale: 1;
      opacity: 1;
    }
  }
}