nav {
  z-index: 10;
  background-color: var(--background);
  border-bottom: 1px solid var(--navbar-border);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: var(--foreground);
  text-transform: uppercase;
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.nav-toggle {
  background: transparent;
  cursor: pointer;
  border: none;
  color: var(--foreground);
  font-size: 1.7rem;
  transition: all 0.3s linear;
}

.page a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 3rem;
  display: flex;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}

.page-container {
  display: none;
  flex-direction: column;
  background-color: var(--background);
  position: absolute;
  top: 80px;
  left: 0;
  padding-bottom: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.page-container.show-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  nav {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--foreground);
    padding: 0 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    border-bottom: 1px solid var(--navbar-border);
  }

  .logo {
    font-size: 1.5rem;
    font-family: "Arial", sans-serif;
    color: var(--foreground);
    text-transform: uppercase;
  }

  .nav-toggle {
    display: none;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    background: none;
    width: auto;
    border-bottom: none;
  }

  ul.page {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  ul.page li a {
    color: var(--foreground);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    letter-spacing: 1px;
  }

  ul.page li a:hover {
    color: #cccccc;
  }

  ul.page li:hover>a {
    color: var(--foreground);
  }
}

@media screen and (max-width: 899px) {
  .page-container.show-container {
    border-bottom: 2px solid var(--navbar-border);
  }
}